PORT=3005
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=sua_senha_mysql_aqui
DB_NAME=cloudops_hub
MASTER_KEY=insira_uma_chave_hex_64_caracteres_aqui
JWT_SECRET=super_secret_jwt_cloudops_hub_key
WHATSAPP_PHONE=5511999999999
WHATSAPP_APIKEY=seu_callmebot_apikey

# Credenciais de Conexão SSH Real com a VM
VM_HOST=seu_ip_publico_vm
VM_USER=ubuntu
VM_PORT=22
VM_SSH_KEY_PATH=caminho_para_sua_chave_privada_ssh.key
